SeriUretec/Web References/Yonetim/Yonetim.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="f_Bolgeler">
        <s:complexType />
      </s:element>
      <s:element name="f_BolgelerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f_BolgelerResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="f_KullaniciEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_sAnahtar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sSeriNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_sKurumAdi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_iBolge_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_sYetkili" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="f_KullaniciEkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f_KullaniciEkleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="f_BolgelerSoapIn">
    <wsdl:part name="parameters" element="tns:f_Bolgeler" />
  </wsdl:message>
  <wsdl:message name="f_BolgelerSoapOut">
    <wsdl:part name="parameters" element="tns:f_BolgelerResponse" />
  </wsdl:message>
  <wsdl:message name="f_BolgelerAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="f_KullaniciEkleSoapIn">
    <wsdl:part name="parameters" element="tns:f_KullaniciEkle" />
  </wsdl:message>
  <wsdl:message name="f_KullaniciEkleSoapOut">
    <wsdl:part name="parameters" element="tns:f_KullaniciEkleResponse" />
  </wsdl:message>
  <wsdl:message name="f_KullaniciEkleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="YonetimSoap">
    <wsdl:operation name="f_Bolgeler">
      <wsdl:input message="tns:f_BolgelerSoapIn" />
      <wsdl:output message="tns:f_BolgelerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="f_KullaniciEkle">
      <wsdl:input message="tns:f_KullaniciEkleSoapIn" />
      <wsdl:output message="tns:f_KullaniciEkleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YonetimSoap" type="tns:YonetimSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="f_Bolgeler">
      <soap:operation soapAction="http://tempuri.org/f_Bolgeler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:f_BolgelerAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="f_KullaniciEkle">
      <soap:operation soapAction="http://tempuri.org/f_KullaniciEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:f_KullaniciEkleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YonetimSoap12" type="tns:YonetimSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="f_Bolgeler">
      <soap12:operation soapAction="http://tempuri.org/f_Bolgeler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:f_BolgelerAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="f_KullaniciEkle">
      <soap12:operation soapAction="http://tempuri.org/f_KullaniciEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:f_KullaniciEkleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Yonetim">
    <wsdl:port name="YonetimSoap" binding="tns:YonetimSoap">
      <soap:address location="http://10.130.214.67:8082/webservice/Yonetim.asmx" />
    </wsdl:port>
    <wsdl:port name="YonetimSoap12" binding="tns:YonetimSoap12">
      <soap12:address location="http://10.130.214.67:8082/webservice/Yonetim.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>