FMC_SAS_Yeni/Web References/VeriAl/VeriAl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="f_VeriAl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="f_VeriAlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f_VeriAlResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="f_VeriAlSoapIn">
    <wsdl:part name="parameters" element="tns:f_VeriAl" />
  </wsdl:message>
  <wsdl:message name="f_VeriAlSoapOut">
    <wsdl:part name="parameters" element="tns:f_VeriAlResponse" />
  </wsdl:message>
  <wsdl:message name="f_VeriAlAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="VeriAlSoap">
    <wsdl:operation name="f_VeriAl">
      <wsdl:input message="tns:f_VeriAlSoapIn" />
      <wsdl:output message="tns:f_VeriAlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VeriAlSoap" type="tns:VeriAlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="f_VeriAl">
      <soap:operation soapAction="http://tempuri.org/f_VeriAl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:f_VeriAlAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VeriAlSoap12" type="tns:VeriAlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="f_VeriAl">
      <soap12:operation soapAction="http://tempuri.org/f_VeriAl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:f_VeriAlAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VeriAl">
    <wsdl:port name="VeriAlSoap" binding="tns:VeriAlSoap">
      <soap:address location="http://localhost/Su/VeriAl.asmx" />
    </wsdl:port>
    <wsdl:port name="VeriAlSoap12" binding="tns:VeriAlSoap12">
      <soap12:address location="http://localhost/Su/VeriAl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>